*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

div{
    margin: 20px;
    font-size: 18px;
    background-color: rgb(28, 111, 207);
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}